/* General 
*/


.div-container{
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.outlined{
  border: 2px solid #333;
  border-radius: 1.5vw;
}

.section-main{
  width: 100%;
  display: block;
  position: relative;
}

.span-nav, .span-footer{
  font-size: 2.3vw;
}

.a-no-decoration:hover{
  text-decoration: none;
  color: lightblue;
}

.a-no-decoration{
  color: black;
}




















/* Homepage
*/
/* Header Section 
*/

.section-header{
  height: 10vh;
}

.div-section-header-home-icon-wrapper{
  /*float: left;*/
  position: absolute;
  top: 0;
  left: 0;
}

.img-div-section-header-home-icon{
  width: 3.5vw;
  margin: 2.5vw 1.5vw 2.5vw 2.5vw;
}

.img-div-section-header-user-icon{
  width: 4vw;
  margin: 1vw 1.5vw;
}

.div-section-header-user-menu-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5vw 3.5vw 1.5vw 1.5vw;
}

.span-section-header-home{
  position: relative;
  top: 0.5vw;
}

.span-section-header-user-menu-register{
  margin-right: 2vw;
}
















/* Middle Section 
*/

.section-middle{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-section-middle-logo{
  width: 100%;
  display: block;
}

.div-section-middle-logo-wrapper{
  display: block;
}

.div-section-middle-center-wrapper{
  /*max-width: 640p*/
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-section-middle-company-description{
  width: 100%;
  color: black;
}

.div-section-middle-company-description-wrapper{
  display: block;
}













/* Footer Section 
*/


.section-footer{
  height: 10vh;
}

.span-section-footer-copyright{
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 2vw;
  margin-bottom: 2vw;

}



































/*  Login Page
*/

.div-section-middle-login-form-wrapper{
  width: 80vw;
  height: 60vw;
  border: 2px solid #333;
  border-radius: 1vw;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label-input-login-form-text{
  font-size: 2vw;
  margin-right: 1vw;
  width: 22vw;
}

.div-reg-log-element-wrapper{
  width: 65vw;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.input-login-form-text{
  width: 38vw;
  border: 1px solid #aaa;
  font-size: 2.4vw;
}

.div-reg-log-form-submit-btn-wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}

.btn-reg-log-submit{
  width: 30vw;
  font-size: 2.6vw;
  background-color: #ededed;
  border: 0.3vw solid #333;
  border-radius: 1vw;
}

.btn-reg-log-submit:hover{
  background-color: #fff;
}









































/* logged in panels */

/* side panel */

.section-panel{
  display: inline-block;
  height: 180vh;
}

.section-menu-left{
  float: left;
  width: 20vw;
  background-color: #ddd;
}

.section-main-right{
  float: right;
  width: 80vw;
  padding-top: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.span-logged-user-name{
  position: relative;
  top: 0.5vw;
  left: -0.5vw;
}

.img-div-section-main-user-icon{
  width: 5vw;
}

.div-panel{
  width: 100%;
  margin-bottom: 4vw;
  padding: 5vw;
}